*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

.container{
  width: 80%;
  margin: 0 auto;
}

.df{
  display: flex;
}

.jus-bet{
  justify-content: space-between;
}

.al-it{
  align-items: center;
}

.logo{
  gap: 10px;
}

.logo img{
  width: 20px;
  height: 20px;
}

nav ul {
  gap: 3rem;
}

nav li a{
  color: #1F3347;
  font-size: 1rem;
}

.logo span{
  font-size: 2rem;
}

nav{
  height: 4rem;
}

.buttons{
  gap: 20px;
}

button:hover{
  cursor: pointer;
}

.buttons button{
  overflow: hidden;
  border: none;
  background-color: inherit;
  font-size: 1.3rem;
  color: #1F3347
}

.btn{
  width: 100px;
  padding: 10px;
  color: #fff !important;
  border-radius: 4px;
  background-color: #6347F9 !important;
}

.banner{
  width: 100%;
}